/* This is the stylesheet for desktop */

.nav-primary{
    width:200px;
    height:100%;
    padding:0px;
}

.content
{
    margin-left:270px; /* Nav bar is 220 px wide */
    display:block;
}

nav li
{
    width:200px;
    height:75px;
    display:table;
    color:#190C00;
}

nav li:hover
{
    background-color:#8E5A2D;
}

.logan
{
    font-size:1.15em;
    font-family:'Dancing Script';
    color: #ECDCCC;
}

.kopas
{
    letter-spacing:2px;
    font-family:'Poiret One' 'Comic Sans';
    color: #ECDCCC;
}

.dot
{
    font-size:2em;
    color:#FFFF4D;"
}
