#header {
    background-color: #190C00;
    color: #FFFFFF;
    text-align: right;
    padding-top: 0.25em;
    padding-bottom: 0.5em;
    padding-right: 15%;
    font-size: 5em;
    font-family: Stalemate "Comic Sans";
}

.footer {
    background-color: #190C00;

    padding-top: 2em;
    padding-bottom: 1em;
}

h1 {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'Quicksand', sans-serif;
