#header {
    background-color: #190C00;
    color: #FFFFFF;
    text-align: right;
    padding-top: 0.25em;
    padding-bottom: 0.5em;
    padding-right: 15%;
    font-size: 5em;
    font-family: Stalemate "Comic Sans";
}

