/* This is the stylesheet for phones */

/** TODO
 * iphone: menu doesn't go all the way to bottom of screen
 * iphone: can't scroll through menu in landscape
 *          DONE
 * iphone: menu button overlaps text
 * need proper colour menu icon
 * need a reverse colour beard logo 
 */

.nav-mobile
{
    display:block;
}

.nav-mobile-open
{
    background-color:#8E5A2D;
}

.nav-primary-active
{
    background-color:#8E5A2D;
    overflow-y:scroll;
    width:80%;
    height:100%;
    padding:10px;
}

.nav-list
{
    display:none;
}

.nav-active
{
    display:block;
}

nav a
{
    text-align:right;

}

nav li
{
    width:100%;
    height:75px;
    display:table;
    color:#190C00;
}

.nav-head
{
    background: #8E5A2D url(/assets/beard-reverse.png) no-repeat center center;
	background-size: 95px;
}

.nav-head:hover
{
    background: #8E5A2D url(/assets/beard-light.png) no-repeat center center;
	background-size: 95px;
}

.content
{
    margin-left:10%;
    display:block;
}

@media (max-width: 500px)
{
    .portfolio
    {
        display:block;
        width:200%;
    }

    .main
    {
        font-size:2em;
    }

    .logan
    {
        font-size:0.4em;
        font-family:'Dancing Script';
        color: #ECDCCC;
    }

    .kopas
    {
        font-size:0.4em;
        letter-spacing:2px;
        font-family:'Poiret One' 'Comic Sans';
        color: #ECDCCC;
    }

    .dot
    {
        style="font-size:2em;
        color:#FFFF4D;
    }

	.nav-mobile
	{
		width:30px;
		height:30px;
		background-size:30px;
	}

	.nav-mobile-open
	{
		width:30px;
		height:30px;
		background-size:30px;
	}

	.nav-mobile:hover
	{
		width:30px;
		height:30px;
		background-size:30px;
	}

}

@media (max-width: 650px) and (min-width: 500px) 
{

    .portfolio
    {
        display:block;
        width:200%;
    }

    .main
    {
        font-size:2em;
    }

    .logan
    {
        font-size:0.75em;
        font-family:'Dancing Script';
        color: #ECDCCC;
    }

    .kopas
    {
        font-size:0.75em;
        letter-spacing:2px;
        font-family:'Poiret One' 'Comic Sans';
        color: #ECDCCC;
    }

    .dot
    {
        style="font-size:2em;
        color:#FFFF4D;
    }

}


@media (min-width: 650px)
{
    .logan
    {
        font-size:1.15em;
        font-family:'Dancing Script';
    }

    .kopas
    {
        letter-spacing:2px;
        font-family:'Poiret One' 'Comic Sans';
    }
    
    .dot
    {
        font-size:2em;
        color:#FFFF4D;
    }
}

/**
 *
 * Thanks to 
 * http://css-tricks.com/examples/WebKitScrollbars/
 * for the scrollbar
 *
 */

/* Let's get this party started */
nav::-webkit-scrollbar {
    width:6px; 
}
 
/* Track */
nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 1px;
    border-radius: 1px;
}
 
/* Handle */
nav::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background: rgba(0,0,0,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
}
nav::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.5); 
}
