
body {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15%;
    max-width: 650px;
    background-color: #fcf9f0;
    font-family: arial, sans-serif;
    line-height: 1.6;
    letter-spacing: 0.005em;
    min-height:100vh;
    display:flex;
    flex-direction: column;
}
/* Expand content to keep footer at bottom */
.content { flex: 1; }

.heading-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
.heading-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    column-gap: 2rem;
    width: 100%;

}
.heading-row img {
    width: 10em;
}

.heading-flourish {
    display: inline-block;
}

h1 {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  width: 100%;
}

h2 {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h3 {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h4 {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

p {
    text-align: justify;
    hyphens: auto;
}

.navbar-vspace {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    width: 100%;
}

a {
    color: dimgrey;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.nav-item-current > a:hover {
    text-decoration: none;
}

ul.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 4em;

}
ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5rem;
}
li > img {
    display: none;
    max-width: 2em;
}
li.nav-item-current > img {
    display:block;
}

img {
    max-width: 100%;
}

.coffee {
    display:block;
    margin: auto;
    margin-top: 2rem;
    width:217px;
}

footer {
    min-height: 2rem;
    font-size: 0.75em;
}
